.list_container {
    position: relative; /* z-index를 쓰기 위해 필요 */
    z-index: 10;        /* 배경화면보다 높은 숫자 */
    background-color:rgba(251, 251, 251, 0.399);
    color:white;
    width:80%;
    margin:50px auto;
    padding:20px;
    border-radius: 20px;
}
.info h4, .info p {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
}
.info h4{
    color:rgba(215, 250, 235, 0.92);
}
.dev_content {
    display:flex;
    align-items: center;
    gap:40px;
}