
.list_container {
    background-color:rgba(251, 251, 251, 0.399);
    color:white;
    width:80%;
    margin:50px auto;
    padding:20px;
    border-radius: 20px;
}
.info h4, .info p {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
}
.info h4{
    color:rgba(215, 250, 235, 0.92);
}
.sort {
    display:flex;
    justify-content: right;
}
.cards{
    display:flex;
    margin:10px;
    gap:40px;
}
.idea_content{
    background-color: rgba(215, 250, 235, 0.42);
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
a:hover {
    color:rgba(215, 250, 235, 0.92);
}
img {
    width:250px;
}